:root {
    --color-primary: #ab79d6;
    --color-on-primary: #351d4a;
    --color-secondary: #d367c1;
    --color-background: #27272c;
    --color-on-background: #c5c5ce;
    --color-background-alt: #1e1c22;
    --color-background-alt-alpha: rgba(30, 28, 34, .75);
    --color-inverse: #fff;
    --color-gray: #8e8e8e;
    --color-yellow: #dedf40;
    --color-green: #62cb5c;
    --color-blue: #00bbcb;
    --color-on-blue: #004a09;
    --gradient: var(--color-secondary) 10%, var(--color-yellow) 25%, var(--color-green) 50%, var(--color-blue) 75%, var(--color-primary) 90%;
    --brand-font: "Kanit", serif;
    --brand-font-weight: 800;
    --brand-font-alt: "Baloo 2", system-ui, sans-serif;
    --brand-font-alt-weight: normal;
    --brand-font-alt-weight-bold: 500;
}

/*
 * [Modified] Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
*/

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4 {
    margin: 0;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-size: 100%;
    font-family: sans-serif;
}

/* Make images easier to work with */
img {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/*
 * Typography
 */

h1,
h2,
h3,
.lead,
button,
.btn,
nav li,
label {
    font-family: "Kulim Park", sans-serif;
}

h1,
h2,
h3 {
    line-height: 1.2;
    letter-spacing: 0.03em;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 24px;
}

/*
  * Header
  */

header {
    padding: 60px 0;
    text-align: center;
}

/* Header logo and its animation */

.header-logo {
    min-height: 60px;
    -webkit-transition: all 450ms ease-in 80ms;
    transition: all 450ms ease-in 80ms;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    margin: auto;
}

.header-logo:hover {
    -webkit-transform: translate(8vw, -300%) scale(.6);
    transform: translate(8vw, -300%) scale(.6);
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0.1;
        -webkit-transform: translateY(25%);
        transform: translateY(25%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0.1;
        -webkit-transform: translateY(25%);
        transform: translateY(25%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

/* Animation Ends here */
header h1 {
    color: #fff;
}

header .lead {
    max-width: 40ch;
    color: #fff;
    margin: auto;
    margin-top: 50px;
    font-size: 125%;
    letter-spacing: 0.03em;
}

.header-wrapper {
    min-height: 50vh;
    background-image: url(images/hubble_deep_field-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.center {
    margin: auto;
}

.wrapper {
    max-width: 1024px;
    padding-left: 24px;
    padding-right: 24px;
}

/* Media Query for the Header */
@media (max-width: 800px) {
    header h1 {
        font-size: 50px;
    }

    header .lead {
        max-width: 28ch;
    }
}

/* Main */
main {
    color: #797979;
}

/*
  * Type Utilities
  */

.lead {
    font-size: 125%;
    letter-spacing: 0.03em;
}

.max-line-length {
    max-width: 60ch;
}

/* Main Section Tours */
#tours {
    background-image: linear-gradient(-20deg, rgba(94, 77, 94, 0.5) 20%, rgba(0, 0, 0, 0.9) 100%), url(img/starry-sky.jpg);
}

.padding-v-lg {
    padding-top: 40px;
    padding-bottom: 40px;
}

.text-dark {
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .1ch;
}

h2 {
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.margin-v-md {
    margin-top: 24px;
    margin-bottom: 24px;
}

.flexbox {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

/* Media Queries for the Flex Container */
@media (max-width: 767px) {
    #tours .flexbox {
        flex-wrap: wrap;
    }

    #tours .flexbox--3col>* {
        flex-basis: 100%;
    }

    #tours .card+.card {
        margin-top: 2em;
    }
}

.margin-v-md {
    margin-top: 24px;
    margin-bottom: 24px;
}

.flexbox--3col>* {
    -webkit-box-flex: 0;
    flex: 0 1 30%;
}

.card {
    border-radius: 8px;
    overflow: hidden;
    /* background-color: #fff; */
}

.card p {
    color: #020511;
}

.card__img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 20vh;
    -webkit-transition: box-shadow 80ms ease-in-out;
    transition: box-shadow 80ms ease-in-out;
    box-shadow: inset 0 0 30px 60px rgba(21, 15, 100, 0.3);
    border-radius: 50%;
}

.card:hover .card__img {
    box-shadow: inset 0 0 10px 10px rgba(21, 15, 100, 0.3);
}

.card__content {
    padding: 24px;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    align-self: start;
    background-color: #3e68ff;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
    padding: 0.25em 0.75em;
    min-width: 10ch;
    min-height: 44px;
    text-align: center;
    line-height: 1.1;
    transition: 220ms all ease-in-out;
    text-decoration: none;
}

.btn:hover,
.btn:active {
    background-color: #020511;
}

/* Media query for the section Card (image) */
@media (max-width: 767px) {
    .card__img {
        margin: auto;
        display: flex;
        width: 100%;
    }

    .btn {
        width: 100%;
    }
}

/* Footer */
.padding-v-md {
    padding-top: 24px;
    padding-bottom: 24px;
}

.background-black {
    background-color: #dcd9ee;
    color: #040234;
}

.flexbox {
    display: flex;
}

.flexbox--aligncenter {
    -webkit-box-align: center;
    align-items: center;
}

.footer-logo {
    min-height: 40px;
}

.clear-margins {
    margin: 0;
}