:root {
    --color-primary: #ab79d6;
    --color-on-primary: #351d4a;
    --color-secondary: #d367c1;
    --color-background: #27272c;
    --color-on-background: #c5c5ce;
    --color-background-alt: #1e1c22;
    --color-background-alt-alpha: rgba(30, 28, 34, .75);
    --color-inverse: #fff;
    --color-gray: #8e8e8e;
    --color-yellow: #dedf40;
    --color-green: #62cb5c;
    --color-blue: #00bbcb;
    --color-on-blue: #004a09;
    --gradient: var(--color-secondary) 10%, var(--color-yellow) 25%, var(--color-green) 50%, var(--color-blue) 75%, var(--color-primary) 90%;
    --brand-font: "Kanit", serif;
    --brand-font-weight: 800;
    --brand-font-alt: "Baloo 2", system-ui, sans-serif;
    --brand-font-alt-weight: normal;
    --brand-font-alt-weight-bold: 500;
}

/*
 * [Modified] Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
*/

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4 {
    margin: 0;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-size: 100%;
    font-family: sans-serif;
}

/* Make images easier to work with */
img {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/*
 * Typography
 */

h1,
h2,
h3,
.lead,
button,
.btn,
nav li,
label {
    font-family: "Kulim Park", sans-serif;
}

h1,
h2,
h3 {
    line-height: 1.2;
    letter-spacing: 0.03em;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 24px;
}

/*
  * Header
  */

header {
    padding: 60px 0;
    text-align: center;
}

header h1 {
    color: #fff;
}

header .lead {
    max-width: 40ch;
    color: #fff;
    margin: auto;
    margin-top: 50px;
    font-size: 125%;
    letter-spacing: 0.03em;
}

.header-wrapper {
    min-height: 50vh;
    background-image: url(images/hubble_deep_field-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}